############################################################
# Visual Studio
############################################################

.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

############################################################
# Build folders
############################################################

Debug/
Release/
x64/
x86/
Win32/

[Bb]in/
[Oo]bj/

############################################################
# Compiled files
############################################################

*.obj
*.pdb
*.ilk
*.idb
*.exp
*.lib
*.dll
*.exe
*.app
*.log

############################################################
# Generated shader binaries (если компилируешь в файл)
############################################################

*.cso

############################################################
# Temporary / cache
############################################################

*.tmp
*.cache
*.tlog
*.ipch/

############################################################
# CMake (если вдруг появится)
############################################################

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

############################################################
# OS
############################################################

Thumbs.db
.DS_Store